controller_list:
  - name: "arm"
    action_ns: joint_trajectory_action
    type: FollowJointTrajectory
    publish_rate: 100
    joints: 
      - id_1
      - id_2 
      - id_3 
      - id_4 
      - id_5 
      - id_6

#- name: gripper_controller
#   action_ns: gripper_action
#   type: GripperCommand
#   default: true
#   joints:
#     - id_7
#     - l_gripper_joint
#     - r_gripper_joint



#open_manipulator:
## MoveIt-specific simulation settings
#  moveit_sim_hw_interface:
#    joint_model_group: controllers_initial_group_
#    joint_model_group_pose: controllers_initial_pose_
## Settings for ros_control control loop
#  generic_hw_control_loop:
#    loop_hz: 300
#    cycle_time_error_threshold: 0.01
## Settings for ros_control hardware interface
#  hardware_interface:
#    joints:
#      - id_1
#      - id_2
#      - id_3
#      - id_4
#      - id_5
#      - id_6
#      
#    sim_control_mode: 1  # 0: position, 1: velocity
## Publish all joint states
## Creates the /joint_states topic necessary in ROS
#  joint_state_controller:
#    type: joint_state_controller/JointStateController
#    publish_rate: 50
#  controller_list: []
#controller_list:
# - name: "arm"
#   action_ns: dynamixel_workbench
#   type: JointTrajectory
#   joints: [id_1, id_2, id_3, id_4, id_5, id_6]
